#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.detail--card {
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 100 !important;
}

.main {
  width: 100vw;
  /* background-color: aquamarine; */
  padding-top: 100px;
  padding-bottom: 100px;

}